DEPLOY_USER='sever'
DEPLOY_HOST='api.sever.nomorepartiessbs.ru'
DEPLOY_REF='origin/main'
DEPLOY_PATH='/home/sever/mesto-apps/nodejs-mesto-project'
DEPLOY_REPO='https://github.com/5everD/nodejs-mesto-project.git'